<div>
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title  fw-bold" id="edit1Label"> Personal Informations</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="deadline-form">
                  <form>
                      <div class="row g-3 mb-3">
                          <div class="col">
                              <label for="exampleFormControlInput877" class="form-label">Nationality</label>
                              <input type="text" class="form-control" id="exampleFormControlInput877" value="Indian"> 
                          </div>
                          <div class="col">
                              <label for="exampleFormControlInput977" class="form-label">Religion</label>
                              <input type="text" class="form-control" id="exampleFormControlInput977" value="Hindu"> 
                          </div>
                      </div>
                      <div class="row g-3 mb-3">
                      <div class="col">
                          <label for="exampleFormControlInput9777" class="form-label">Marital Status</label>
                          <input type="text" class="form-control" id="exampleFormControlInput9777" value="Married">
                      </div>
                      <div class="col">
                          <label for="exampleFormControlInput2770" class="form-label">Passport No</label>
                          <input type="text" class="form-control" id="exampleFormControlInput2770" value="5468953210">
                      </div>
                      </div> 
                      <div class="row g-3 mb-3">
                          <div class="col-6">
                              <label for="exampleFormControlInput4777" class="form-label">Emergency Contact</label>
                              <input type="text" class="form-control" id="exampleFormControlInput4777" value="7468953210">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-update">Update</button>
              <button type="button" class="btn btn-secondary btn-closed">Close</button>
          </div> 
      </div>  
  </div>
</div>